<h2>About</h2>
<p class="lead">
    From the remote shelter of Cardboard Cabin, warm, danceable folk music can be heard. Intimate moments are
    interspersed with strong power folk. The repertoire contains self-written songs: classical ball dances, but the
    group does not shy away from experimentation. A sanctuary for anyone who wants to get away from the bustle of this
    busy world.
</p>
<p class="lead">
    Cardboard Cabin consists of <b>Jeroen Werbrouck</b> (<a target="_blank"
                                                            href="https://vi.be/platform/katla">Katla</a>) on
    accordeon, <b>Flor Delombaerde</b> (<a
        target="_blank" href=https://www.facebook.com/Isabelleetlesjean/>Isabelle et les Jean </a>) on double bass,
    <b>Tim Orroi</b> (<a target="_blank"
                         href=https://www.facebook.com/Nitty-Gritty-104290207647653/>Nitty
    Gritty </a>, <a target="_blank" href=https://www.facebook.com/pg/Cirquen-fl%C3%AAxe-106122690724429\>Cirqu’en
    Flêxe </a>) on drums and <b>Thomas Clerbout</b> (<a target="_blank" href="https://vi.be/platform/deya">Deya</a>) on soprano
    saxophone.

    After months of writing music, rehearsing and recording intensively, they are ready
    to let the world into their cabin.

</p>
<p class="lead">

    Halfway through 2021, their saxophonist Andreas Werbrouck left for a new adventure, but now that
    they have a full line-up again thanks to Thomas Clerbout on soprano sax, they are ready to perform with much
    enthousiasm.

</p>
