<h2>Biographie</h2>
<p class="lead">
    De la cabine isolée de Cardboard Cabin, une musique folklorique chaleureuse et dansante peut être entendue. Des
    moments intimes alternent avec des pièces intenses. Le répertoire contient des chansons auto-écrites: danses de bal
    classiques, mais les hommes n'ont pas peur de l'expérimentation. Un sanctuaire pour tous ceux qui veulent s'éloigner
    de l'agitation de ce monde occupé.
</p>
<p class="lead">
    Cardboard Cabin est composé de <b>Jeroen Werbrouck</b> (<a target="_blank" href="https://vi.be/platform/katla">Katla</a>) à
    l'accordéon, <b>Flor Delombaerde</b> (<a
        target="_blank" href=https://www.facebook.com/Isabelleetlesjean/>Isabelle et les Jean </a>) à contrebasse,
    <b>Tim Orroi</b> (<a target="_blank"
                         href=https://www.facebook.com/Nitty-Gritty-104290207647653/>Nitty
    Gritty </a>, <a target="_blank" href=https://www.facebook.com/pg/Cirquen-fl%C3%AAxe-106122690724429\>Cirqu’en
    Flêxe </a>) à batterie et <b>Thomas Clerbout</b> (<a target="_blank" href="https://vi.be/platform/deya">Deya</a>) au
    saxophone soprano.

    Après des mois à écrire de la musique, à répéter et à enregistrer de manière intensive, ils sont prêts à
    laisser le monde entrer dans leur cabine.

</p>
<p class="lead">

    À la moitié de l'année 2021, leur saxophoniste Andreas Werbrouck est parti pour une nouvelle aventure, mais
    maintenant que
    ils ont à nouveau une formation complète grâce à Thomas Clerbout au saxophone soprano, ils sont prêts à jouer avec
    plaisire.
</p>
