<h2>Biographie</h2>
<p class="lead">
    De la cabine isolée de Cardboard Cabin, une musique folklorique chaleureuse et dansante peut être entendue. Des
    moments intimes alternent avec des pièces intenses. Le répertoire contient des chansons auto-écrites: danses de bal
    classiques, mais les hommes n'ont pas peur de l'expérimentation. Un sanctuaire pour tous ceux qui veulent s'éloigner
    de l'agitation de ce monde occupé.
</p>
<p class="lead">
    Les frères Jeroen (accordéon) et Andreas (saxos) Werbrouck ont gagné leurs éperons dans le monde folk en tant que
    duo sous le nom de <a target="_blank" href="https://vi.be/platform/katla"> Katla </a> (vainqueur du Podium Music
    Mosaic 2016, Boombal, Gooikoorts, Queimada,…). En septembre 2019, ils ont commencé une nouvelle groupe, avec Flor
    Delombaerde (<a target="_blank" href="https://www.facebook.com/Isabelleetlesjean/"> Isabelle et les Jean </a>, <a
        target="_blank" href="http://tmouvement.be/"> 't Mouvement </a>) à la contrebasse et Tim Orroi (<a
        target="_ blank" href="https://www.facebook.com/Nitty- Gritty-104290207647653"> Nitty Gritty </a>, <a
        target="_blank" href="https://www.facebook.com/pg/Cirquen-fl%C3%AAxe-106122690724429"> Cirqu'en Flêxe </a>) à la
    batterie. Après des mois à écrire de la musique, à répéter et à enregistrer de manière intensive, ils sont prêts à
    laisser le monde entrer dans leur cabine.

</p>
