<h2>Over ons</h2>
<p class="lead">
    Vanuit het afgelegen hutje van Cardboard Cabin, klinkt warme, dansbare folkmuziek. Intieme momenten worden
    afgewisseld met stevige powerfolk. Op het repertoire staan zelfgeschreven nummers: klassieke baldansen, maar ook het
    experiment wordt niet geschuwd. Een vrijplaats voor al wie even los wil komen van het gewoel van deze drukke wereld.
</p>
<p class="lead">
    Cardboard Cabin bestaat uit <b>Jeroen Werbrouck</b> (<a target="_blank" href="https://vi.be/platform/katla">Katla</a>) op
    accordeon, <b>Flor Delombaerde</b> (<a
        target="_blank" href=https://www.facebook.com/Isabelleetlesjean/>Isabelle et les Jean </a>) op contrabas,
    <b>Tim Orroi</b> (<a target="_blank"
                         href=https://www.facebook.com/Nitty-Gritty-104290207647653/>Nitty
    Gritty </a>, <a target="_blank" href=https://www.facebook.com/pg/Cirquen-fl%C3%AAxe-106122690724429\>Cirqu’en
    Flêxe </a>) op drums en <b>Thomas Clerbout</b> (<a target="_blank" href="https://vi.be/platform/deya">Deya</a>) op
    sopraansax.
    Na maanden muziek schrijven, intensief repeteren en opnemen zijn ze klaar om de wereld in hun hut toe te laten.

</p>
<p class="lead">

    Halverwege 2021 vertrok hun saxofonist Andreas Werbrouck op nieuw avontuur maar nu
    ze opnieuw een volledige bezetting hebben dankzij Thomas Clerbout op sopraansax, zijn ze helemaal klaar om met
    plezier op te treden.

</p>
