<section id="calendar" class="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                {% if site.active_lang == 'nl' %}
                <h2>Kalender</h2>
                {% elsif site.active_lang == 'en' %}
                <h2>Calendar</h2>
                {% elsif site.active_lang == 'fr' %}
                <h2>Calendrier</h2>
                {% endif %}
                <hr class="small">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portfolio-item">
                            <a href="https://www.muziekcentrumdranouter.be" target="blank">
                                <h3>
                                    {% if site.active_lang == 'nl' %}
                                    18 december 2020: Kersenpitsessie Muziekcentrum Dranouter - gratis livestream
                                    {% elsif site.active_lang == 'en' %}
                                    december 18 2020: Kersenpitsessie Muziekcentrum Dranouter - free livestream
                                    {% elsif site.active_lang == 'fr' %}
                                    18 decembre 2020: Kersenpitsessie Muziekcentrum Dranouter - diffusion en direct gratuite
                                    {% endif %}
                                </h3>
                            </a>
                        </div>
                    </div>
					
					<div class="col-md-12">
                        <div class="portfolio-item">
                            <a href="https://www.facebook.com/CardboardCabin/" target="blank">
                                <h3>
                                    {% if site.active_lang == 'nl' %}
                                    2021: a lot to be confirmed - stay tuned
                                    {% elsif site.active_lang == 'en' %}
                                    2021: a lot to be confirmed - stay tuned
                                    {% elsif site.active_lang == 'fr' %}
                                    2021: a lot to be confirmed - stay tuned
                                    {% endif %}
                                </h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="portfolio-item">
                            <a href="https://www.keuvelkroegarbeidershuis.be/" target="blank">
                                <h3>
                                    {% if site.active_lang == 'nl' %}
                                    30 januari 2022: Keuvelkroeg Arbeidershuis
                                    {% elsif site.active_lang == 'en' %}
                                    January 30 2022: Keuvelkroeg Arbeidershuis
                                    {% elsif site.active_lang == 'fr' %}
                                    14 Janvier 2022: Keuvelkroeg Arbeidershuis
                                    {% endif %}
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</section>
